{% extends "base2.html" %}

{% block content %}
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
</style>
<div align="center">
 <h1 >My Files on StorageBox</h1>
<br>
 <table>

              <tr>
                      <th>index</th>
                      <th>File Name</th>

                      <th>Creation Date</th>
                      <th>Last Modified</th>
                      <th> File Description</th>
                      <th>Download</th>
                      <th>Delete</th>
                      <th>Edit</th>
                  </tr>

        <tbody>
               {% set index = 0 %}
               {% set s = files|length %}
               {%  for f in range (0, (s)) %}

             <tr>

                    <td> {{ f + 1 }} </td>
                    <td> {{ files[f].file_name}} </td>
                   <td> {{ files[f].created  }} </td>
                 <td> {{ files[f].modified  }} </td>
                 <td> {{ files[f].description }}</td>


                   <td> <a href="{{ url_for('downloadfile',filename=files[f].file_name)}}"> <button >  Download  </span> </button> </a> </td>
                 <td> <a href="{{ url_for('deletefile',filename=files[f].file_name)}}"> <button>  Delete  </span> </button> </a> </td>
             <td> <a href="{{ url_for('editfile',filename=files[f].file_name)}}"> <button>  Edit  </span> </button> </a> </td>

             </tr>

              {% endfor %}
                </tbody>
   </table>
 </div>

{% endblock %}